extends ../../layout/admin

block content
  table.table
    thead
      tr
        th 题型
        th 操作
    tbody
      each item in subjects
        tr
          td= item.name
          td
            a(href="") 编辑
            |  / 
            a(href="") 删除