extends ../../layout/teacher

block content
  #topicCtrl.topicCtrl(data-id="#{id}")
    .panel.panel-default
      .panel-heading 试卷信息
      .panel-body
        div(v-text="paper.name")
        div
          | 时长：
          span(v-text="paper.duration")
          | 总分：
          span(v-text="paper.points")
        div
          | 科目：
          span(v-text="paper.subject.name")
          | 状态：
          span(v-text="paper.status|paperStatus")
        div
          | 组卷：
          span(v-for="item in paper.composes") {{item.ctype.name}}({{item.value + 'x' + item.number}})
    .row
      .col-sm-6
        .panel.panel-default
          .panel-heading.clearfix
            .pull-left 题库待选区
            .pull-right
              select.form-control(v-model="compose",@change="getTestListByType()")
                option(v-for="item in paper.composes",:value="item",v-text="item.ctype.name")
          .panel-body
            .test-item(v-for="item in tests")
              .title
                | {{$index+1}}. 
                span(v-text="item.title")
                button.btn.btn-default.btn-xs.pull-right(@click="add(item)",:disabled="item.isAdd||isEnough") 选入试卷
              .options
                .option(v-for="o in item.options")
                  | {{o.key}}.
                  | {{o.val}}
                .result(v-text="item.result")
      .col-sm-6
        .panel.panel-default
          .panel-heading
            | 试卷预览
            button.btn.btn-default.btn-xs.pull-right(@click="complete()",v-show="validTopicComplete()") 完成选题
          .panel-body
            .compose-item(v-for="item in paper.composes")
              .compose-info
                | {{$index|convertNumber}}、
                | {{item.ctype.name}}
                | ({{item.value + 'x' + item.tests.length}})
                button.btn.btn-default.btn-xs(@click="toggle(item)") {{item.isOpen?'收起':'展开'}}
              .compose-test(v-show="item.isOpen")
                .test-item(v-for="test in item.tests")
                  .title
                    | {{$index+1}}. 
                    span(v-text="test.title")
                    button.btn.btn-default.btn-xs(@click="del($index,test,item)") 移除
                  .options(v-for="o in test.options")
                    .option
                      {{o.key}}. {{o.val}}
block scripts
  script(src='/vue/dist/vue.min.js')
  script(src='/vue-resource/dist/vue-resource.min.js')
  script(src='/javascripts/v_teacher.js')