/*题库中心*/

.testCtrl .input-groups .input-group {
  width: 180px;
  float: left;
  margin-right: 20px;
}

.testCtrl .result .radio-inline {
  margin-right: 20px;
}

.testCtrl .divider {
  border-top: solid 1px #ccc;
  padding-top: 15px;
}

.testCtrl .t-item {
  margin-bottom: 20px;
}