doctype html
html
  head
    meta(name='viewport',content='width=device-width,initial-scale=1')
    title= title
    link(rel='stylesheet',href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet',href='/stylesheets/student.css')
  body
    nav.navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button',data-toggle='collapse',data-target='#navbar')
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand 在线考试
        .collapse.navbar-collapse#navbar
          ul.nav.navbar-nav
            li
              a(href="/") 首页
            li()
              a(href="/exam") 考试
            li
              a(href="/notice") 公告
          ul.nav.navbar-nav.navbar-right
            - if(!student) {
              li
                a(href="/account/signin") 登录
              li
                a(href="/account/signup") 注册
            - } else {
              li.dropdown
                a.dropdown-toggle(data-toggle='dropdown',aria-haspopup='true',aria-expanded='false')
                  | #{student.email} 
                  span.caret
                ul.dropdown-menu
                  li
                    a(href='/account/baseinfo') 设置中心
                  li
                    a(href='/account/signout') 登出
            - }
    section.container.render-body
      block content
    script(src='/jquery/dist/jquery.min.js')
    script(src='/bootstrap/dist/js/bootstrap.min.js')
    block scripts
