extends ../../layout/admin

block content
  .panel.panel-default#exam_create_ctrl
    .panel-heading 添加考试
    .panel-body
      form.form-horizontal(method="post",action="/admin/exam/create")
        .form-group
          label.control-label.col-sm-2 名称
          .col-sm-10
            input.form-control(name="subject[name]")
        .form-group
          label.control-label.col-sm-2 科目
          .col-sm-10
            select.form-control(name="subject[name]",v-model="subject",@change="getPaper()")
              option(value="-1") 请选择
              each item in subjects
                option(value="#{item._id}")= item.name
        .form-group
          label.control-label.col-sm-2 试卷
          .col-sm-10
            select.form-control(name="subject[name]",v-model="paper")
              option(v-for="item in papers",:value="item._id",v-text="item.name")
        .form-group
          label.control-label.col-sm-2 开考时间
          .col-sm-10
            input.form-control(type="datetime-local",name="subject[beginTime]")
        .form-group
          .col-sm-offset-2.col-sm-10
            button.btn.btn-primary(type="submit") 提交
block scripts
  script(src='/vue/dist/vue.min.js')
  script(src='/vue-resource/dist/vue-resource.min.js')
  script(src='/javascripts/v_admin.js')