extends ../../layout/student

block content
  .panel.panel-default
    .panel-heading 考试记录
    .panel-body
      table.table
        thead
          tr
            th 考试
            th 操作
        tbody
          each item in exams
            tr
              td
                h5= item.name
                p
                  | 时间：
                  span= moment(item.times.beginTime).format('YYYY-MM-DD (HH:mm - ') + moment(item.times.endTime).format('HH:mm)')
              td
                a(href="/stuExam/detail/#{item._id}") 查看详情
block scripts
  script(src='/moment/moment.js')
